.frontend-hidden {
    display: none;
}

.frontend-block {
    padding: 0px 15px;
    text-align: center;
    position: relative;
}

.frontend-center {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.frontend-file {
	padding: 2px;
    border: 1px solid #CCCCCC;
}

.frontend-left-column {
   padding-right: 15px;
   float:left;
   width:50%;
}
.frontend-right-column {
   padding-left: 15px;
   float:right;
   width:50%;
}

table.dataTable tr.even.row_selected td {
    background-color: #B0BED9 !important;
}
table.dataTable tr.odd.row_selected td {
    background-color: #9FAFD1 !important;
}

/* HEADER from django-admin */

#header {
    background: #417690;
    color: #ffc;
    overflow: hidden;
    font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    font-size: 12px;
    line-height: 1.2;
}

#header a:link, #header a:visited {
    color: white;
}

#header a:hover {
    text-decoration: underline;
}

#branding h1 {
    padding: 0 10px;
    font-size: 18px;
    margin: 8px 0;
    font-weight: normal;
    color: #f4f379;
}

#branding h2 {
    padding: 0 10px;
    font-size: 14px;
    margin: -8px 0 8px 0;
    font-weight: normal;
    color: #ffc;
}

#user-tools {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.2em 10px;
    font-size: 11px;
    text-align: right;
}

#header .active {
    font-weight: bold;
}
