.active {
    font-weight: bold;
}

.frontend-hidden {
    display: none;
}

.frontend-block {
    padding: 0px 15px;
    text-align: center;
    position: relative;
}

.frontend-center {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.frontend-file {
	padding: 2px;
    border: 1px solid #CCCCCC;
}

.frontend-left-column {
   padding-right: 15px;
   float:left;
   width:50%;
}
.frontend-right-column {
   padding-left: 15px;
   float:right;
   width:50%;
}

table.dataTable tr.even.row_selected td {
    background-color: #B0BED9 !important;
}
table.dataTable tr.odd.row_selected td {
    background-color: #9FAFD1 !important;
}
