{% extends "admin/base.html" %}
{% load staticfiles %}
{% load base_extras %}

{% block title %}Panel administracyjny{% endblock %}
{% block extrastyle %}
<link href="{% static 'css/admin-style.css' %}" rel="stylesheet">
{% endblock %}
{% block nav-global %}
<div style="padding: 10px 10px">
  <big>
    <a class="{% navactive request 'admin:index' %}" href="{% url 'admin:index' %}">Administracja</a>&nbsp;&nbsp;
    <a class="{% navactive request 'admin/manage_index' %}" href="{% url 'admin/manage_index' %}">Indeksy</a>
  </big>
</div>
{% endblock %}

