{% extends "admin/base_site.html" %}
{% load staticfiles %}

{% block stylesheet %}
{% endblock %}
{% block breadcrumbs %}
{% endblock %}
{% block extrastyle %}
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
{{ block.super }}
{% endblock %}
{% block extrahead %}
<meta charset="utf-8">
<link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
{% endblock %}
