{% extends "admin/frontend_base_site.html" %}
{% load staticfiles %}

{% block extrastyle %}
<link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet">
<link href="{% static 'css/jquery.dataTables.css' %}" rel="stylesheet">
<link href="{% static 'css/datepicker3.css' %}" rel="stylesheet">
{{ block.super }}
{% endblock %}

{% block content %}
<div class="frontend-block">
  <div class="frontend-left-column">
  	<h4>Nagrania</h4>
  	<div align="left">
	  <button id="add_youtube_rec_button" type="button" class="btn btn-default">
	    Dodaj nagranie z Youtube
	  </button>
	  <button id="remove_recording_button" type="button" class="btn btn-default">
	    Usuń nagranie
	  </button>
	</div>
	<br>
    <table class="table table-striped table-bordered display dataTable" id="recordings">
      <thead>
        <tr>
          <th style="width: 50%">Nazwa</th>
          <th>Typ</th>
          <th>Data dodania</th>
          <th>Liczba znaczników</th>
        </tr>
      	<tr>
          <td><input id="recording_name_search" type="text" style="width: 100%"></input></td>
          <td>
            <select id="recording_type_select">
          	  <option value="" selected>Wszystkie</option>
          	  <option value="brainz">Brainz</option>
          	  <option value="youtube">Youtube</option>
          	</select>
          </td>
          <td><input id="recording_createdate_picker" class="datepicker" data-date-format="dd/mm/yyyy" style="width: 100px" readonly></input></td>
          <td>
            <select id="recording_matches_count_select">
          	  <option value="" selected>Wszystkie</option>
          	  <option value="0">Puste</option>
          	  <option value="[1 TO *]">Niepuste</option>
          	</select>
          </td>
      	</tr>
      </thead>
    </table>
  </div>
  <div class="frontend-right-column" id="right_column">
    <div id="right_sticky">
      <h4 id="matches_title">Znaczniki</h4>
  	  <div align="left">
	    <button id="add_youtube_match_button" type="button" class="btn btn-default">Dodaj znacznik z Youtube</button>
	    <button id="remove_match_button" type="button" class="btn btn-default">Usuń znacznik</button>
	    <button id="ignore_match_button" type="button" class="btn btn-default">Ignoruj znacznik</button>
	  </div>
	  <br>
      <table class="table table-striped table-bordered display dataTable" id="matches">
        <thead>
          <tr>
            <th width="50%">Nazwa</th>
            <th>Typ</th>
            <th>URL</th>
            <th>Data dodania</th>
            <th>Zignorowano</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>

<div id="add_youtube_rec_dialog">
  <form method="get" id="add_youtube_rec_form" action="{% url 'admin/add_youtube_recording' %}">
    <p>Nazwa nagrania (opcjonalne):</p>
    <input type="text" name="recording_name" style='width: 100%' ondblclick="$(this).select()">
    <p>Link do Youtube:</p>
    <input type="text" name="youtube_url" style='width: 100%' ondblclick="$(this).select()">
  </form>
</div>
<div id="add_youtube_rec_dialog_buttons" class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
  <div class="ui-dialog-buttonset">
  	<img id="add_youtube_rec_progress" class="frontend-hidden" src="{% static 'images/loader.gif' %}">
  	<img id="add_youtube_rec_success" class="frontend-hidden" src="{% static 'images/tick.png' %}">
  	<img id="add_youtube_rec_failed" class="frontend-hidden" src="{% static 'images/failed.png' %}">
  	<span id="add_youtube_rec_message" class="frontend-hidden"></span>
  	<div style="display:inline-block;">
      <button id="add_youtube_rec_submit" class="btn btn-default">Dodaj nagranie</button>
      <button id="add_youtube_rec_cancel" class="btn btn-default">Zamknij</button>
    </div>
  </div>
</div>

<div id="add_youtube_match_dialog">
  <form method="get" id="add_youtube_match_form">
    <p>Link do Youtube:</p>
    <input type="text" name="youtube_url" style='width: 100%' ondblclick="$(this).select()">
  </form>
</div>
<div id="add_youtube_match_dialog_buttons" class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
  <div class="ui-dialog-buttonset">
  	<img id="add_youtube_match_progress" class="frontend-hidden" src="{% static 'images/loader.gif' %}">
  	<img id="add_youtube_match_success" class="frontend-hidden" src="{% static 'images/tick.png' %}">
  	<img id="add_youtube_match_failed" class="frontend-hidden" src="{% static 'images/failed.png' %}">
  	<span id="add_youtube_match_message" class="frontend-hidden"></span>
  	<div style="display:inline-block;">
      <button id="add_youtube_match_submit" class="btn btn-default">Dodaj nagranie</button>
      <button id="add_youtube_match_cancel" class="btn btn-default">Zamknij</button>
    </div>
  </div>
</div>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/jquery.form.js' %}"></script>
<script src="{% static 'js/dataTables.extensions.js' %}"></script>
<script src="{% static 'js/jquery.sticky.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker.pl.js' %}"></script>
<script type="text/javascript">

  $(document).ready(function() {
	var selectedRecRow;
	  
	// recordings table setup
    var recordingsTable = $('#recordings').dataTable({
      "bServerSide": true,
      "sAjaxSource": "{% url 'admin/get_recordings' %}",
      "oLanguage": {
      	"sUrl": "{% static 'lang/dataTables.polish.txt' %}"
      },
      "sDom": "liprtip",
      "bSortCellsTop": true,
      "aoColumnDefs": [
        {
          "mRender": function(data, type, row) {
        	var revData = data.slice(0).reverse()
        	var searchLink = revData.length == 3 ? revData[0] + " " + revData[2] : revData.join(" ")
            return '<a name="recording_name" href="https://www.youtube.com/results?search_query='
            	  	+ searchLink + '" target="_blank">' + data.join("; ") + '</a>'
          },
          "aTargets": [0]
        },
      ],
      "fnDrawCallback": function(oSettings) {
	    if (selectedRecRow) {
		  $("#" + selectedRecRow.attr('id')).addClass("row_selected")
	    }
        updateMatches()
      }
    });
	
	// matches table setup
	$("#right_sticky").sticky({
	  topSpacing:0,
	  getWidthFrom: '#right_column'
	});
	
    var matchesTable = $('#matches').dataTable({
      "oLanguage": {
      	"sUrl": "{% static 'lang/dataTables.polish.txt' %}"
      },
      "aoColumnDefs": [
        {
          "mRender": function(data, type, row) {
            return '<a href="' + data + '" target="_blank">' + data + '</a>'
          },
          "bSortable": false, 'aTargets': [2]
        },
        {
          "mRender": function(data, type, row) {
       		return data ? "Tak" : "Nie"
          },
          'aTargets': [4]
        }
      ],
      "sDom": "r",      
    }); 
    
	// recordings table filter setup
	$("#recording_name_search").keyup(function() {
      recordingsTable.fnFilter(this.value, 0);
	});

	$("#recording_type_select").change(function() {
	  recordingsTable.fnFilter($(this).find(":selected").val(), 1);
	});
	
	$("#recording_createdate_picker").datepicker({
	  clearBtn: true,
	  autoclose: true,
	  language: "pl"
	}).on('changeDate', function(ev) {
	  recordingsTable.fnFilter(this.value, 2);		
	})
	
	$("#recording_matches_count_select").change(function() {
      recordingsTable.fnFilter($(this).find(':selected').val(), 3);
	})
	
	// recordings table row selection	
	function updateMatches() {
	  selectedRecRow = recordingsTable.fnGetSelectedRow()
	  if (selectedRecRow) {
		recordingId = selectedRecRow.attr('id')
		recordingName = selectedRecRow.find('*[name=recording_name]').text()
		$("#matches_title").text('Znaczniki dla nagrania: ' + recordingName)
		matchesTable.fnReloadAjax("{% url 'admin/get_matches' recording_id='_ID_' %}".replace('_ID_', recordingId));
	  } else {
		$("#matches_title").text('Znaczniki')
		matchesTable.fnClearTable()
	  }
	}
	
	$("#recordings tbody").click(function(event) {
      $(recordingsTable.fnSettings().aoData).each(function() {
		$(this.nTr).removeClass('row_selected');
	  });
	  $(event.target.parentNode).addClass('row_selected');
	  updateMatches()
	});
	
	// add youtube dialog
	setupProgressDialog("add_youtube_rec", function() {
      recordingsTable.fnReloadAjax(null, null, true);
	});
	
	// remove recording button
	$("#remove_recording_button").click(function() {
      selectedRecRow = recordingsTable.fnGetSelectedRow()
	  if (selectedRecRow) {
		updateAjaxRequest("{% url 'admin/remove_recording' %}", {recording_id: selectedRecRow.attr('id')}) 
	  }
	})
	
	// matches selection
	$("#matches tbody").click(function(event) {
      $(matchesTable.fnSettings().aoData).each(function() {
		$(this.nTr).removeClass('row_selected');
	  });
	  $(event.target.parentNode).addClass('row_selected');
	});
	
	// add youtube match dialog
	setupProgressDialog("add_youtube_match", function() {
	  selectedRecRow = recordingsTable.fnGetSelectedRow()
      recordingsTable.fnReloadAjax(null, null, true);
	}, function() {
	  selectedRecRow = recordingsTable.fnGetSelectedRow()
	  if (selectedRecRow) {
		$("#add_youtube_match_dialog").dialog("open");
	  }
	}, function() {
	  selectedRecRow = recordingsTable.fnGetSelectedRow()
	  $('#add_youtube_match_form').attr('action', "{% url 'admin/add_youtube_match' recording_id='_ID_' %}".replace('_ID_', selectedRecRow.attr('id')))
	  $('#add_youtube_match_form').submit()
	});
	
	// remove match button
	$("#remove_match_button").click(function() {
	  selectedRecRow = recordingsTable.fnGetSelectedRow()
      selectedMatchRow = matchesTable.fnGetSelectedRow()
	  if (selectedMatchRow && selectedRecRow) {
		updateAjaxRequest(
		  "{% url 'admin/remove_match' recording_id='_ID_' %}".replace('_ID_', selectedRecRow.attr('id')),
		  {match_id: selectedMatchRow.attr('id')})
	  }
	})
	
	// ignore match button
	$("#ignore_match_button").click(function() {
	  selectedRecRow = recordingsTable.fnGetSelectedRow()
      selectedMatchRow = matchesTable.fnGetSelectedRow()
	  if (selectedMatchRow && selectedRecRow) {
		updateAjaxRequest(
		  "{% url 'admin/ignore_match' recording_id='_ID_' %}".replace('_ID_', selectedRecRow.attr('id')),
		  {match_id: selectedMatchRow.attr('id')})
	  }
	})
	
 	function updateAjaxRequest(url, data) {
	  $.ajax({
	    url: url,
	    data: data,
	    dataType: 'json'
	  }).done(function(data) {
	    if (data['status'] == 'ok') {
	      recordingsTable.fnReloadAjax(null, null, true);
	    } else {
		  jOKMessageBox(data['message']);
	    }
	  }).fail(function() {
	    $(function() {
		  jOKMessageBox("Błąd połączenia");
	    });
	  })
  }
  });
  
  function defaultOpenFunc(prefix) {
	$("#" + prefix + "_dialog").dialog("open");
  }
  
  function defaultSubmitFunc(prefix) {
	$("#" + prefix + "_form").submit();
  }
  
  function setupProgressDialog(prefix, successFunc, openFunc, submitFunc) {
	openFunc = openFunc === undefined ? defaultOpenFunc : openFunc
	submitFunc = submitFunc === undefined ? defaultSubmitFunc : submitFunc
	$("#" + prefix + "_dialog").dialog({
	  autoOpen: false,
	  modal: true,
	  width: 400
	});
	$("#" + prefix + "_dialog").append($("#" + prefix + "_dialog_buttons"))
	$("#" + prefix + "_form").ajaxForm({
	  beforeSubmit: function() {
		$("#" + prefix + "_progress").show();
		$("#" + prefix + "_success").hide();
		$("#" + prefix + "_failed").hide();
		$("#" + prefix + "_message").hide();
      },
      success: function(response)  {
		$("#" + prefix + "_progress").hide();
		$("#" + prefix + "_success").hide();
		$("#" + prefix + "_failed").hide();        
		$("#" + prefix + "_message").hide();
		if (response['status'] == 'ok') {
		  $("#" + prefix + "_success").show();
		  successFunc();
		} else {
		  $("#" + prefix + "_failed").show();
		  $("#" + prefix + "_message").show();
		  $("#" + prefix + "_message").html(response['message'] + '<br>')
		}
      },
      error: function() {
		$("#" + prefix + "_failed").show();
		$("#" + prefix + "_message").show();
		$("#" + prefix + "_progress").hide();
		$("#" + prefix + "_success").hide();
		$("#" + prefix + "_message").html('Błąd połączenia <br>')
      },
      dataType: 'json'    	
    });
	$("#" + prefix + "_submit").click(function() {
	  submitFunc(prefix);
    })
    $("#" + prefix + "_cancel").click(function() {
	  $("#" + prefix + "_dialog").dialog("close");
	})
	$("#" + prefix + "_button").click(function() {
      openFunc(prefix)	
    })
  }
  
  function jOKMessageBox(msg) {
    $("<div>" + msg + "</div>").dialog({
      modal: true,
      buttons: {
    	Ok: function() {
    	  $(this).dialog("close");
    	}
      }
    });
  }
</script>
{% endblock %}
